name: RDP

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:

      - name: Enable RDP
        run: |
          Set-ItemProperty `
            -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" `
            -Name "fDenyTSConnections" `
            -Value 0 -Force

          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

      - name: Create RDP User
        run: |
          $pass = "Qwerty123!"
          $secure = ConvertTo-SecureString $pass -AsPlainText -Force
          New-LocalUser -Name "user" -Password $secure -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "user"

          echo "Created user: user"
          echo "Password: $pass"

      - name: Show RDP IP
        run: |
          $ip = (Get-NetIPAddress -AddressFamily IPv4 |
            Where-Object { $_.InterfaceAlias -eq "Ethernet" }).IPAddress

          Write-Host "======================"
          Write-Host "   RDP IP: $ip"
          Write-Host "   USER: user"
          Write-Host "   PASS: Qwerty123!"
          Write-Host "======================"

      - name: Keep Alive
        run: |
          while ($true) {
            Write-Host "RDP Active..."
            Start-Sleep -Seconds 120
          }
